---
export interface Props {
	name: string;
	theme: "light" | "dark" | "githubDark";
} 

const { name, theme } = Astro.props;
---
<div class:list={['layoutBlock', 'lilexTheme', theme]} data-block-name={name}>
	<slot />
</div>

<style>
	.layoutBlock {
		--space-layout: var(--space-l);

		width: 100%;
		min-height: 100vh;
		display: flex;
		padding: var(--space-layout);
		background-color: var(--color-background-primary);
	}

	@media screen and (max-width: 768px) {
		.layoutBlock {
			--space-layout: var(--space-m);
		}
	}
</style>

