---
export type Props = {
	class?: string;
	gap?: "s" | "m" | "l" | "xl";
	align?: "start" | "center" | "end";
	justify?: "start" | "center" | "end" | "between" | "around";
	direction?: "row" | "column";
	fullWidth?: boolean;
};

const {
	class: className,
	gap = "s",
	direction = "column",
	align = "start",
	justify = "start",
	fullWidth = false,
	...props
} = Astro.props;
---

<div
	class:list={[
		"stack",
		`_gap-${gap}`,
		`_direction-${direction}`,
		`_align-${align}`,
		`_justify-${justify}`,
		fullWidth && "_fullWidth",
		className,
	]}
	{...props}
>
	<slot />
</div>

<style lang="scss">
	.stack {
		display: flex;
		flex-direction: column;
		gap: var(--space-s);

		&._direction-column {
			flex-direction: column;
		}

		&._direction-row {
			flex-direction: row;
		}

		&._gap-s {
			gap: var(--space-s);
		}

		&._gap-m {
			gap: var(--space-m);
		}

		&._gap-l {
			gap: var(--space-l);
		}

		&._gap-xl {
			gap: var(--space-xl);
		}

		&._align-start {
			align-items: flex-start;
		}

		&._align-center {
			align-items: center;
		}

		&._align-end {
			align-items: flex-end;
		}

		&._justify-start {
			justify-content: flex-start;
		}

		&._justify-center {
			justify-content: center;
		}

		&._justify-end {
			justify-content: flex-end;
		}

		&._justify-between {
			justify-content: space-between;
		}

		&._justify-around {
			justify-content: space-around;
		}

		&._fullWidth {
			width: 100%;
		}
	}
</style>
