<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>1560</integer>
  <key>capHeight</key>
  <integer>1396</integer>
  <key>copyright</key>
  <string>Copyright 2019 The Lilex Project Authors (https://github.com/mishamyrt/lilex/blob/master/AUTHORS)</string>
  <key>descender</key>
  <integer>-440</integer>
  <key>familyName</key>
  <string>Lilex</string>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeHeadCreated</key>
  <string>2019/10/20 13:06:08</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaAscender</key>
  <integer>2050</integer>
  <key>openTypeHheaDescender</key>
  <integer>-550</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDesigner</key>
  <string>Mike Abbink, Paul van der Laan, Pieter van Rosmalen, Mikhael Khrustik</string>
  <key>openTypeNameDesignerURL</key>
  <string>https://myrt.co</string>
  <key>openTypeNameLicense</key>
  <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
  <key>openTypeNameLicenseURL</key>
  <string>http://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>Mikhael Khrustik</string>
  <key>openTypeNameManufacturerURL</key>
  <string>https://myrt.co</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>Lilex</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Regular</string>
  <key>openTypeNameVersion</key>
  <string>Version 1.000 beta2</string>
  <key>openTypeOS2Selection</key>
  <array>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>608</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>120</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>1400</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>280</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>1300</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>1400</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>954</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>1300</integer>
  <key>openTypeOS2Type</key>
  <array>
    <integer>2</integer>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>1560</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-440</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>600</integer>
  <key>openTypeOS2VendorID</key>
  <string>Myrt</string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>2050</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>550</integer>
  <key>postscriptBlueFuzz</key>
  <integer>0</integer>
  <key>postscriptBlueScale</key>
  <real>0.039625</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-12</integer>
    <integer>0</integer>
    <integer>670</integer>
    <integer>672</integer>
    <integer>738</integer>
    <integer>740</integer>
    <integer>1032</integer>
    <integer>1034</integer>
    <integer>1396</integer>
    <integer>1398</integer>
    <integer>1480</integer>
    <integer>1482</integer>
  </array>
  <key>postscriptFontName</key>
  <string>Lilex-Regular</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>Lilex Regular</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptOtherBlues</key>
  <array>
    <integer>-405</integer>
    <integer>-400</integer>
    <integer>656</integer>
    <integer>658</integer>
    <integer>724</integer>
    <integer>726</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-280</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>120</integer>
  <key>postscriptWeightName</key>
  <string>Regular</string>
  <key>styleMapFamilyName</key>
  <string>Lilex</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Regular</string>
  <key>unitsPerEm</key>
  <integer>2000</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>0</integer>
  <key>xHeight</key>
  <integer>1032</integer>
</dict>
</plist>
