.DS_Store
/build/
/venv/
/.vscode
* (Autosaved).glyphs
*.glyphspackage
__pycache__
.ruff_cache
reports/
.netlify
/preview/.env

# gftools build artifacts
/sources/instance_ufos
/sources/.ninja_log
/sources/build.ninja
