fontmake==3.7.1
fonttools==4.47.0
cu2qu==1.6.7.post2
gftools==0.9.57
glyphsLib==6.7.1
arrrgs==3.1.0
ruff==0.5.3
pylint==3.2.5
colored==2.2.4
pylance==0.14.1
fontbakery==0.12.9
dehinter==4.0.0
shaperglot==0.5.0
