@import './theme/border-radius.scss';
@import './theme/colors.scss';
@import './theme/spaces.scss';
@import './theme/transitions.scss';
@import './theme/typography.scss';

body {
    margin: 0;
    overflow-x: hidden;
    min-width: 390px;
}

* {
    box-sizing: border-box;
}