<div class="heroDownload">
	<div class="content">
		<a
			target="_blank"
			class="button"
			href="https://github.com/mishamyrt/Lilex/releases/latest"
		>
			<span class="arrow">↓</span>
			<span class="button-text">Download</span>
		</a>
		<div class="releaseInfo">
			<span class="version">v2.600</span>
			<a href="https://github.com/mishamyrt/Lilex/releases/latest">Release notes</a>
		</div>
	</div>
</div>

<style lang="scss">
	.heroDownload {
		display: flex;
		width: 100%;
		justify-content: end;
	}

	.content {
		width: fit-content;
		height: fit-content;
	}

	.button {
		display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-background);
    padding: 25px 20px;
    font-size: 49px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color var(--transition-slow), font-weight var(--transition-slow);
		

		&-text {
			font-style: italic;
		}

		&:hover {
			background-color: var(--color-accent-inverted);
			transition: background-color 0s, font-weight 0s;
		}
	}

	.releaseInfo {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
	}

	@media (width <= 500px) {
		.heroDownload {
			align-items: center;
		}

		.button {
			font-size: 30px;
			padding: 10px 12px;
		}
	}
</style>
