<div class="heroFooter">
	<div class="column">
    <div class="column-content">
        <span class="column-title">Based on</span>
        <a target="_blank" href="https://github.com/IBM/plex">IBM Plex Mono</a>
    </div>
	</div>
	<div class="column">
    <div class="column-content">
        <span class="column-title">Glyphs count</span>
        <span>1442</span>
    </div>
	</div>
	<div class="column designer">
    <div class="column-content">
        <span class="column-title">Designed by</span>
        <a target="_blank" href="https://github.com/mishamyrt">
					Mikhael Khrustik
				</a>
    </div>
	</div>
</div>

<style lang="scss">
	.heroFooter {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--layout-column-gap);
	}

	.column {
		grid-column-end: span 2;
		display: flex;

		&.designer {
			grid-column-end: span 8;
			justify-content: end;
		}

		&-title {
			font-style: italic;
		}

		&-content {
			width: fit-content;
			display: flex;
			flex-direction: column;
		}
	}

	@media (width <= 1024px) {
		.column {
			grid-column-end: span 3;

			&.designer {
				grid-column-end: span 6;
			}
		}
	}

	@media (width <= 768px) {
		.column {
			grid-column-end: span 4;

			&.designer {
				grid-column-end: span 4;
			}
		}
	}

	@media (width <= 680px) {
		.heroFooter {
			grid-template-columns: 1fr;
		}

		.column.designer {
			justify-content: start;
		}
	}
</style>
