---
import LayoutBlock from "../../components/LayoutBlock.astro";
import Stack from "../../components/Stack.astro";
import Typography from "../../components/Typography.astro";
import FeatureRow from "./FeatureRow.astro";
import PreviewLigatures from "./PreviewLigatures.astro";
import PreviewAligns from "./PreviewAligns.astro";
import PreviewWeight from "./PreviewWeight.astro";
import PreviewPowerline from "./PreviewPowerline.astro";
import Link from "../../components/Link.astro";
import {
	FloatingPanel,
	FloatingToggle,
} from "../../components/FloatingActions";
import { $isSuperpowersEnabled } from "../../stores/superpowers";
import Toggle from "../../components/Toggle.astro";

const isSuperpowersEnabled = $isSuperpowersEnabled.get();
---

<LayoutBlock theme="dark" name="superpowers">
	<div class="superpowers">
		<div class="superpowers-scrollContainer">
			<Stack class="superpowers-heading" gap="m">
				<Typography color="secondary">
					Lilex is built on top of the IBM Plex Mono. It includes support for
					variable weight and developer specific features.
				</Typography>
				<Stack
					class="superpowers-toggleDesktop"
					fullWidth
					justify="between"
					align="center"
					direction="row"
				>
					<Typography as="h1" variant="heading-m_accent">Superpowers</Typography
					>
					<Toggle
						checked={isSuperpowersEnabled}
						inputClass="superpowers-toggleInput"
						align="x-height"
					/>
				</Stack>
			</Stack>
		</div>
		<Stack class="superpowers-features" gap="xl">
			<FeatureRow title="Ligatures" alignExample="description">
				<Typography color="secondary">
					The font replaces programming character sequences with special glyphs.
					This makes it easier to read and understand the code.
				</Typography>
				<Typography color="secondary">
					In addition to static ligatures, there are special ligatures that are
					generated during the writing process. These ligatures cover the needs
					of all developers.
				</Typography>
				<PreviewLigatures slot="preview" />
			</FeatureRow>
			<FeatureRow title="Aligns">
				<Typography color="secondary">
					Lilex is optmized for reading, for this purpose the font automatically
					aligns some characters depending on the context.
				</Typography>
				<PreviewAligns slot="preview" />
			</FeatureRow>
			<FeatureRow title="Weight">
				<Typography color="secondary">
					In addition to the fixed weight, Lilex provides a variant option that
					all possible weights from 100 to 700, for both italic and roman.
				</Typography>
				<PreviewWeight slot="preview" />
			</FeatureRow>
			<FeatureRow title="Powerline" alignExample="description">
				<Typography color="secondary">
					Lilex was created by a developer for developers, so it takes into
					account the needs of professional terminal users.
				</Typography>
				<Typography color="secondary">
					<span>
						The font contains the necessary character set for correct <Link
							target="_blank"
							href="https://github.com/powerline/powerline">Powerline</Link
						>display.
					</span>
				</Typography>
				<PreviewPowerline slot="preview" />
			</FeatureRow>
		</Stack>
		<FloatingPanel class="superpowers-toggleMobile">
			<FloatingToggle
				title="Superpowers"
				inputClass="superpowers-toggleInput"
				checked={isSuperpowersEnabled}
			/>
		</FloatingPanel>
	</div>
</LayoutBlock>

<script>
	import {
		$isSuperpowersEnabled,
		setSuperpowersEnabled,
	} from "../../stores/superpowers";

	const toggles = document.querySelectorAll<HTMLInputElement>(
		".superpowers-toggleInput"
	);
	if (!toggles) {
		throw new Error("Toggle element not found");
	}

	for (const toggle of toggles) {
		toggle.addEventListener("change", () =>
			setSuperpowersEnabled(toggle.checked)
		);
	}

	$isSuperpowersEnabled.subscribe((enabled) => {
		toggles.forEach((toggle) => {
			toggle.checked = enabled;
		});
	});
</script>

<style lang="scss">
	.superpowers {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--layout-column-gap);

		&-toggleDesktop {
			margin-top: var(--space-m);
		}
		&-toggleMobile {
			display: none;
		}

		&-scrollContainer {
			grid-column: 1/4;
		}

		&-heading {
			position: sticky;
			top: var(--space-m);
		}
	}

	.superpowers-heading {
		grid-column: 1/4;
	}

	.superpowers-features {
		grid-column: 5/13;
	}

	@media (max-width: 1250px) {
		.superpowers {
			&-scrollContainer {
				grid-column: 1/6;
			}

			&-toggleDesktop {
				display: none;
			}

			&-toggleMobile {
				display: flex;
			}

			&-features {
				grid-column: 1/13;
				margin-top: var(--space-xl);
			}
		}
	}

	@media (max-width: 850px) {
		.superpowers-scrollContainer {
			grid-column: 1/7;
		}
	}

	@media (max-width: 700px) {
		.superpowers-scrollContainer {
			grid-column: 1/8;
		}
	}

	@media (max-width: 550px) {
		.superpowers-scrollContainer {
			grid-column: 1/13;
		}
	}
</style>
