---
import Powerline from "../../components/Powerline.astro"

const VC_BRANCH_CHAR = "\uE0A0"
const LN_CHAR = "\uE0A1"
const LOCK_CHAR = "\uE0A2"
---

<div class="powerlinePreview powerline-enabled">
	<Powerline
		parts={[
			{
				text: "~",
				color: "grey_10",
			},
			{
				text: "Git/Lilex",
				color: "grey_30",
				isPath: true
			},
			{
				text: "master",
				color: "yellow_60",
				icon: VC_BRANCH_CHAR
			}
		]}
	/>
	<Powerline
		direction="left"
		parts={[
			{
				text: "unix/utf-8/astro",
				color: "grey_10",
				isPath: true
			},
			{
				text: "2%",
				color: "grey_30",
			},
			{
				text: "1:1",
				color: "grey_60",
				icon: LN_CHAR
			}
		]}
	/>
	<Powerline
		direction="right"
		parts={[
			{
				text: "Normal",
				color: "green",
			},
			{
				text: ".vimrc",
				color: "grey_30",
			},
		]}
	/>
	<Powerline
		direction="left"
		parts={[
			{
				text: "SIGINT(2)",
				color: "red",
				isPath: true
			},
			{
				text: "09:57",
				color: "grey_30",
			},
			{
				text: "mishamyrt",
				color: "grey_60",
				icon: LOCK_CHAR
			}
		]}
	/>
</div>

<script>
	import { $isSuperpowersEnabled } from "../../stores/superpowers";

	const previewNode = document.querySelector<HTMLElement>(".powerlinePreview")
	if (!previewNode) {
		throw new Error("Powerline preview node not found")
	}

	$isSuperpowersEnabled.subscribe((enabled) => {
		if (!enabled) {
			previewNode.classList.remove("powerline-enabled")
		} else {
			previewNode.classList.add("powerline-enabled")
		}
	})
</script>

<style lang="scss">
	.powerlinePreview {
		display: flex;
		flex-direction: column;
		gap: var(--space-m);
	}
</style>
