.lilexTheme.dark {
  --color-background-primary: #0e1116;
  --color-background-secondary: rgb(23 27 33);
  --color-background-action: rgba(37, 89, 223, 90%);
  --color-background-action_hover: rgba(184, 43, 45, 85%);
  --color-background-success: rgba(73, 148, 37, 85%);
  --color-background-overlay: rgb(52 61 75 / 80%);
  --color-background-overlay_active: rgb(52 61 75 / 90%);
  --color-content-primary: #dbe9ff;
  --color-content-secondary: rgba(219, 233, 255, 40%);
  --color-content-dimmed: rgba(219, 233, 255, 20%);
  --color-content-action: #5b9bff;
  --color-content-action_hover: #ff7c79;
}

.lilexTheme.light {
  --color-background-primary: #cecece;
  --color-background-secondary: #bdbdbd;
  --color-background-action: #1c51d9;
  --color-background-action_hover: #b11316;
  --color-background-success: #38940d;
  --color-background-overlay: rgba(231, 231, 231, 0.8);
  --color-background-overlay_active: rgba(242, 242, 242, 0.8);
  --color-content-primary: #000;
  --color-content-secondary: rgba(0, 0, 0, 50%);
  --color-content-dimmed: rgba(0, 0, 0, 25%);
  --color-content-action: #003ddb;
  --color-content-action_hover: #c90d00;
}
