on:
  workflow_call:
    inputs:
      download_url:
        default: false
        type: boolean
      check:
        default: false
        type: boolean
      preview:
        default: false
        type: boolean

env:
    PNPM_VERSION: '10.13.1'
    NODE_VERSION: '22.13.1'
    PYTHON_VERSION: '3.13'
    UV_VERSION: '0.9.7'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '${{ env.PYTHON_VERSION }}'
    
    - name: Setup uv
      uses: astral-sh/setup-uv@v6
      with:
        version: '${{ env.UV_VERSION }}'

    - name: Bootstrap font builder
      run: |
        sudo apt update
        sudo apt install -y \
          python3-setuptools \
          ttfautohint \
          build-essential \
          libffi-dev \
          libgit2-dev
        make configure

    - name: Setup pnpm
      if: inputs.preview
      uses: pnpm/action-setup@v4
      with:
        version: '${{ env.PNPM_VERSION }}'

    - name: Bootstrap preview
      if: inputs.preview
      run: make website-configure

    - name: Lint builder
      if: inputs.check
      run: make scripts-lint

    - name: Lint preview
      if: inputs.preview && inputs.check
      run: make website-lint

    - name: Check if sources are available
      uses: LIT-Protocol/artifact-exists-action@v0
      id: check_sources
      with:
        name: "sources"

    - name: Download updated sources
      if: "${{ steps.check_sources.outputs.exists == 'true' }}"
      uses: actions/download-artifact@v4
      with:
        name: sources
        path: updated_sources/

    - name: Replace sources
      if: "${{ steps.check_sources.outputs.exists == 'true' }}"
      run: |
        rm sources/*.glyphs
        cp -r updated_sources/* sources/

    - name: Build
      run: make release

    - name: Check
      if: inputs.check
      run: make check-sequential
      
    - name: Build website
      if: inputs.preview
      run: make website-build

    - name: Upload build
      id: build-upload-step
      uses: actions/upload-artifact@v4
      with:
        name: Lilex
        path: build/
    
    - name: Upload reports
      if: inputs.check
      uses: actions/upload-artifact@v4
      with:
        name: Reports
        path: reports/

    - name: Upload preview
      if: inputs.preview
      uses: actions/upload-artifact@v4
      with:
        name: Preview
        path: preview/dist

    - name: Output download URL
      if: inputs.download_url
      run: echo "${{ steps.build-upload-step.outputs.artifact-url }}" > download_url.txt

    - name: Upload URL
      if: inputs.download_url
      uses: actions/upload-artifact@v4
      with:
        name: URL
        path: download_url.txt
